body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #333;
}

header{
    background-color: #1f3c88;
    color: white;
    text-align: center;

}

nav{
    background-color: #162447;
    padding: 10px;
    text-align: center;
}
nav a { 
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;

}
main {
    padding:40px;
    max-width: 900px;
    margin: auto;
}
section {
    margin-bottom: 60px;
}
h2 {
    color: #1f3c88;
}
img{
    max-width: 200px;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
}
h3 {
    margin-top: 30px;
    color: #162447;
}
